.landingWrapper {
    position: sticky;
    top: 75px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: ; */
}

.landingMsg1, .landingMsg2, .landingSubText {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;  
    margin: 0 0 0 80px;   
    
}

.landingMsg1, .landingMsg2 {
    color: white;
    font-size: 150px;
    width: 500px;
}
.landingSubText {
    margin-top: 23px;
    color: black;
    font-size: 25px;
    width: 550px;
    /* transform: translateX(800px); */
}

.landingOverlay {
    padding-top: 150px;
    position: relative;
    background-color: #CECECE;
    height:100vh;
    right: 0px;
    /* z-index: 10px; */
}

